<tr class="group_price fields">
  <td>
    <%= f.text_field :name, :size => 10 %>
  </td>
  <td>
    <%= error_message_on(f.object, :discount_type) %>
    <%= f.select :discount_type, options_for_select([[Spree.t(:percent_discount), 'percent'], [Spree.t(:dollar_discount), 'dollar'], [Spree.t(:fixed_price), 'price']], { index: nil }), {}, class: 'fullwidth' %>
  </td>
  <td>
    <%= f.text_field :amount, :size => 10 %>
  </td>
  <td>
    <%= error_message_on(f.object, :start_range) %>
    <%= f.text_field :start_range, :size => 10 %>
  </td>
  <td>
    <%= error_message_on(f.object, :end_range) %>
    <%= f.text_field :end_range, :size => 10 %>
  </td>
  <td>
    <%= f.text_field :position, :size => 3 %>
  </td>
  <td class="actions">
    <%= link_to(icon('fa-trash'),
      spree.admin_product_variant_path(@product, @variant),
      class: 'with-tip no-text spree_remove_fields',
      title: Spree.t(:remove), data: { action: :remove }) + f.hidden_field(:_destroy) %>
  </td>
</tr>
