<tr class="group_price fields">
  <td>
    <%= error_message_on(f.object, :name) %>
    <%= f.text_field :name, :size => 10 %>
  </td>
  <td>
    <%= error_message_on(f.object, :discount_type) %>
    <%= f.select :discount_type, [['Dollar Price','price'],['Percent Discount','percent'],['Dollar Discount','dollar']] %>
  </td>
  <td>
    <%= error_message_on(f.object, :range) %>
    <%= f.text_field :range, :size => 10 %>
  </td>
  <td>
    <%= error_message_on(f.object, :amount) %>
    <%= f.text_field :amount, :size => 10 %>
  </td>
  <td>
    <%= error_message_on(f.object, :position) %>
    <%= f.text_field :position, :size => 3 %>
  </td>
  <td valign="actions">
    <%= link_to_with_icon('icon-trash', Spree.t("remove"), spree.admin_product_variant_path(@product, @variant), :class => "spree_remove_fields", :data => {:action => 'remove'}, :title => Spree.t(:remove)) + f.hidden_field(:_destroy)
%>
  </td>
</tr>
