<h4><%= Spree.t("group_prices") %></h4>
<table class="index">
  <thead>
    <tr>
      <th><%= Spree.t("name") %></th>
      <th><%= Spree.t("discount_type") %></th>
      <th><%= Spree.t("amount") %></th>
      <th><%= Spree.t("start_range") %></th>
      <th><%= Spree.t("end_range") %></th>
      <th><%= Spree.t("position") %></th>
      <th><%= Spree.t("action") %></th>
    </tr>
  </thead>
  <tbody id="group_prices">
    <%= f.fields_for :group_prices do |vp_form| %>
      <%= render 'spree/admin/group_prices/group_price_fields', :f => vp_form %>
    <% end %>
  </tbody>
</table>
<%= link_to_add_fields Spree.t("add_group_price"), "tbody#group_prices" %>
<br/><br/>
